:root{
    --bg-color:pink;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    overflow: hidden;
}
.color-switcher{
    width: 10rem;
    background-color: #fff;
    position: absolute;
    left:80%;
    bottom: 50%;
    transform: translate(100%,-50%);
}

.heading{
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.color-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
}
.color-item{
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--bg-color);
    border-radius: 50%;
    cursor: pointer;
}
button{
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border: none;
    color: red;
    position: absolute;
    left: 0;
    top:50% ;
    transform: translate(-100%, -50%);
    display: grid;
    place-items: center;
    cursor: pointer;

}
.color-switcher-open{
    transform: translate(0, -50%);
    transition: all .5s ease-in-out;
}

.bgImage{
    background: #fff;
    /* background-image: url(/my-project/public/1479625-matrix-binary-code-falling-wallpaper-1920x1080-cell-phone.webp);
    background-repeat: no-repeat;
    background-size: cover; */
}